{% block content %}

<h1>Stock Portfolio Suggestion Engine</h1>
Team Name: Blitz<br>
Team Members: Vikas Kodwani, Surendra Sharma, Jacky Zhihong Chen, Khang Doan<br>
Course: Software Engineering Processes - CMPE 285. Fall, 2019. Professor Richard Sinn.<br>

<form action="fetch_stock">

	<h3>Input dollar amount to invest in USD (Minimum is $5000 USD):</h3>
	$<input type="number" name="investAmount" placeholder="5000" min="5000" required>

	<h3>Pick one or two investment strategies:</h3>

	First Investment Strategy:
	<select name="strategy1" size="1" required>
		<option value="Ethical Investing">Ethical Investing</option>
		<option value="Growth Investing">Growth Investing</option>
		<option value="Index Investing">Index Investing</option>
		<option value="Quality Investing">Quality Investing</option>
		<option value="Value Investing">Value Investing</option>
	</select>
	<br><br>

	Second Investment Strategy (Optional):
	<select name="strategy2" size="1">
		<option>None</option>
		<option value="Ethical Investing">Ethical Investing</option>
		<option value="Growth Investing">Growth Investing</option>
		<option value="Index Investing">Index Investing</option>
		<option value="Quality Investing">Quality Investing</option>
		<option value="Value Investing">Value Investing</option>
	</select>
	<br><br>

	<input type="submit" value="Invest">
</form>

{% if strategy1 and strategy2 != 'None' %}
<h3>Investment Strategies:</h3>
<p>{{strategy1}}: {{strategy1Map}}</p>
<p>{{strategy2}}: {{strategy2Map}}</p>
<h3>Stock(s) Data:</h3>
{% for stocks in stock_list %}
<p>{{ stocks }}</p>
{% endfor %}p>
{% endfor %}
<h3>Previous 5 Days of Stock(s) History:</h3>
{% for stocks in stock_history %}
<p>{{ stocks }}</p>
{% endfor %}
<h3> Stock(s) History Graphical Plot Over Multiple Months (Extra feature)</h3>
{% for i in images %}
<img src="data:image/png;base64,{{ i|safe }}" width="500px">
{% endfor %}

{% elif strategy1 %}
<h3>Investment Strategies:</h3>
<p>{{strategy1}}: {{strategy1Map}}</p>
<h3>Stock(s) Data:</h3>
{% for stocks in stock_list2 %}
<p>{{ stocks }}</p>
{% endfor %}
<h3>Previous 5 Days of Stock(s) History:</h3>
{% for stocks in stock_history2 %}
<p>{{ stocks }}</p>
{% endfor %}
<h3>Stock(s) History Graphical Plot Over Multiple Months (Extra feature)</h3>
{% for i in images2 %}
<img src="data:image/png;base64,{{ i|safe }}" width="500px">
{% endfor %}

{% endif %}

{% endblock %}