{% block content %}

<h1>Stock Portfolio Suggestion Engine</h1>
Course: Software Engineering Processes - CMPE 285. Fall, 2019. Professor Richard Sinn.<br>
Team Name: Blitz<br>
Team Members: Vikas Kodwani, Surendra Sharma, Jacky Zhihong Chen, Khang Doan<br>

<form action="fetch_stock">
	<h3>Input:</h3>
   	Please enter a symbol: 
   	<input type="text" name="tickerSymbol" placeholder="ADBE" required>
   	<br><br>

   	Input dollar amount to invest in USD (Minimum is $5000 USD): 
   	$<input type="text" name="investAmount" placeholder="5000" required>

   	<h3>Pick one or two investment strategies</h3>

   	Investment Strategy 1:
  	<select name="strategy1" size="3" required>
    <option value="ethical">Ethical Investing</option>
    <option value="growth">Growth Investing</option>
    <option value="index">Index Investing</option>
    <option value="quality">Quality Investing</option>
    <option value="value">Value Investing</option>
  	</select>
  	<br><br>

  	Investment Strategy 2:
  	<select name="strategy2" size="3">
    <option value="ethical">Ethical Investing</option>
    <option value="growth">Growth Investing</option>
    <option value="index">Index Investing</option>
    <option value="quality">Quality Investing</option>
    <option value="value">Value Investing</option>
  	</select>
  	<br><br>

    <input type="submit">
</form>

<h3>Output:</h3>
<p>{{stock_date}}</p>
<p>{{stock_name}}</p>
<p>{{closingStockPriceToday}} {{valuesChange}} {{percentageChange}}</p>

{% endblock %}
